body {
  background-color: blue;
  background-color: hsl(225, 100%, 94%);
  position: relative;

}



.template {
  background-color: white;
  text-align: center;
  height: auto;
  width: auto;
  position: absolute;
}
